@{
    ViewBag.Title = "登录首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(function () {
        $("#form-login").submit(function () {
            $("#form-login button[type='submit']").text("正在登录......").attr("disabled", "disabled");
            ShowMessage("正在登录系统，请稍等......");
            var data = $(this).serialize();
            $.request("/User/Login", data, function (json) {
                if (json.result == 0) {
                    ShowErrorMessage(json.content);
                    $("#form-login button[type='submit']").text("登录").removeAttr("disabled");
                } else {
                    ShowSuccessMessage("成功登录系统，正在跳转......");
                    location.href = "/Home/Index";
                }
            });
            return false;
        });
    });
</script>
<h3 class="page-header">用户登录</h3>
<div class="row">
    <div class="col-md-4"> 
        <form class="form-horizontal" method="post" id="form-login">
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                   @Html.Partial("Message")
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">用户名：</label>
                <div class="col-md-8">
                    <input type="text" name="LoginName" class="form-control" placeholder="用户名" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">密码：</label>
                <div class="col-md-8">
                    <input type="password" name="Password" class="form-control" placeholder="密码" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

